@model List<ShopCartViewModel>
<div class="container" style="margin-top: 3em;">
	@foreach (var el in Model)
	{
		<div class="alert alert-warning mt-3">
			<b>Auto: @el.name</b> 
			<b>Description: @el.shortDesc</b>
			<b>Price: @el.price</b>
			<b>Quantity: @el.quantity</b>
		</div>
	}
	<hr />
	<a class="btn btn-danger mb-5" asp-controller="Order" asp-action="Checkout">Pay</a>
</div>