@model Order

<div class="row" style="margin-top: 1.5em;">
	
	<form asp-controller="Order" asp-action="Checkout" method="post">
		<h3>Place an order</h3>
		<div class="mb-3">
			<label class="form-label" asp-for="name"></label>
			<input class="form-control" asp-for="name" placeholder="Enter your name" />
			<span asp-validation-for="name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="form-label" asp-for="surname"></label>
			<input class="form-control" asp-for="surname" placeholder="Enter your surname" />
			<span asp-validation-for="surname" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="form-label" asp-for="address"></label>
			<input class="form-control" asp-for="address" placeholder="Enter your address" />
			<span asp-validation-for="address" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="form-label" asp-for="phone_number"></label>
			<input class="form-control" asp-for="phone_number" placeholder="Enter your phone number" />
			<span asp-validation-for="phone_number" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="form-label" asp-for="email"></label>
			<input class="form-control" asp-for="email" placeholder="Enter your email" />
			<span asp-validation-for="email" class="text-danger"></span>
		</div>
		<input class="btn btn-succes" type="submit" value="Complete your order" />
	</form>
</div>
